{{ "{% extends 'VaszevCrudLteBundle::layout.html.twig' %}" }}

{{ "{% block page_title %}" }}
{{ "{{ 'views.new.creation'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'VaszevCrudLteBundle') }}" }}
{{ "{% endblock %}" }}
{{ "{% block page_subtitle %}{% endblock %}" }}

{{ "{% block menu %}{% include 'vaszevCrudMenu.html.twig' %}{% endblock %}" }}

{{ "{% block content %}" }}

  <div class="box box-success">
    {{ "{{ form_start(form,{'attr':{'class':''}}) }}" }}
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{ "{{ form_widget(form) }}" }}
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-success">{{ "{{ 'views.new.create'|trans({}, 'VaszevCrudLteBundle') }}" }}</button>

      {% set hide_edit, hide_delete = true, true %}
      {% include 'crud/views/others/record_actions.html.twig.twig' %}

    </div>
    {{ "{{ form_end(form) }}" }}
  </div>

{{ "{% endblock %}" }}

{{ "{% block content_footer %}{% include 'vaszevCrudFooter.html.twig' %}{% endblock %}" }}


{#{{ "{% block title %}" }}#}
{#{{ "{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'VaszevCrudLteBundle') }}" }}#}
{#{{ "{% endblock %}" }}#}

{#{{     "{% block menu %}" }}#}
{#{{      "{% block stylesheets %}" }}#}
{#{{        "{{ parent() }}" }}#}
{#{{        "{% block stylesheets_sub %}{% endblock %}" }}#}
{#{{      "{% endblock %}" }}#}
{#{{      "{% include 'vaszevCrudMenu.html.twig' %}" }}#}
{#{{    "{% endblock %}" }}#}

{#{{ "{% block page %}" }}#}

{#<h1>{{ "{{ 'views.new.creation'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'VaszevCrudLteBundle') }}" }}</h1>#}

{#<form class="well" action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>#}
    {#{{ "{{ form_start(form,{'attr':{'class':'well'}}) }}" }}#}
    {#{{ "{{ form_widget(form) }}" }}#}
    {#<p>#}
        {#<button type="submit" class="btn btn-success">{{ "{{ 'views.new.create'|trans({}, 'VaszevCrudLteBundle') }}" }}</button>#}
    {#</p>#}
    {#{{ "{{ form_end(form) }}" }}#}
{#</form>#}

{#{% set hide_edit, hide_delete = true, true %}#}
{#{% include 'crud/views/others/record_actions.html.twig.twig' %}#}

{#{{ "{% include 'vaszevCrudFooter.html.twig' %}" }}#}

{#{{ "{% endblock %}" }}#}